@import "./bootstrap.scss";
@import "./components.scss";
@import "./bootstrap-extended.scss";
@import "./colors.scss";
@import "./iconfont.scss";
@import "./custom-rtl.scss";

.ant-table-container{
overflow-x: auto !important;
}

.ant-table {
    margin: 0;
    padding: 0;
    background: #fff;
    border-radius: 2px;
    
    box-shadow: 0 4px 25px 0 RGB(0 0 0 / 10%) !important;
  }