@import "../node_modules/prismjs/themes/prism-tomorrow";
@import "./assets/scss/app.scss";

.FamilyMember-scroll {
    -ms-overflow-style: none !important ;
    scrollbar-width: none !important; 
    text-overflow: ellipsis !important;
    max-height: auto !important;
    min-height: auto !important;
}
.FamilyMember-scroll::-webkit-scrollbar {
    display: none;
  }
  .FamilyMember-scroll{
    overflow-y: scroll !important;
    white-space: normal !important;
    margin-top: auto !important;
  }

 .css-r11z79-MuiDataGrid-root .MuiDataGrid-row:not(.MuiDataGrid-row--dynamicHeight)>.MuiDataGrid-cell {
    overflow: hidden;
    
}

.memberClass{
// line-height: 0.9rem !important;
margin-top: auto !important;
}